services:
  web:
    build:
      context: ./src
      dockerfile: Dockerfile
      target: development
    tty: true
    volumes:
      - ./src:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
      - HOST=0.0.0.0
    ports:
      - "${PORT:-5173}:5173"

volumes:
  node_modules:
