@import "tailwindcss";

html,
body {
  background-color: white;
  color: black;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: #0a0a0a;
    color: white;
    color-scheme: dark;
  }
}
