---
name: ci
on:
  push:
    branches:
      - main
      - develop
  pull_request:
  workflow_dispatch:

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      web: ${{ steps.web.outputs.any_changed }}
      build: ${{ (github.event_name == 'push' || github.event_name == 'workflow_dispatch') && (github.ref_name == 'main' || github.ref_name == 'develop') }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Check changed files for web
        id: web
        uses: tj-actions/changed-files@v44
        with:
          files: |
            src/**
            .github/workflows/ci-web.yml
            .github/workflows/build-web.yml
            .github/workflows/deploy-web-dev.yml

  ci-web:
    needs: prepare
    if: needs.prepare.outputs.web == 'true' || needs.prepare.outputs.build == 'true'
    uses: ./.github/workflows/ci-web.yml
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  ci:
    runs-on: ubuntu-latest
    needs:
      - ci-web
    if: '!failure()'
    steps:
      - run: echo OK

  deploy-web-dev:
    needs: ci-web
    if: ${{ always() && needs.ci-web.result == 'success' && github.event_name != 'pull_request' }}
    runs-on: ubuntu-latest
    steps:
      - name: Dispatch deployment
        uses: peter-evans/repository-dispatch@v3
        with:
          event-type: >-
            ${{
              github.ref_name == 'main' && 'deploy-web-prod' ||
              'deploy-web-dev'
            }}
          client-payload: '{"ref": "${{ github.sha }}"}'
